.vim/backups
.vim/view
*un~
.vim/.netrwhist
.vim/tmp
.vim/bundle
.vim/plugged
.vim/spell
.vim/.vundles.local
.vim/sessions
.netrwhist
.weechat/logs
.weechat/.log
bin/subl
tags
mpd/database
mpd/pid
mpd/state
mpd/log
mpd/sticker.sql
__init__.py
__pycache__
