! -- Fonts -- !
URxvt.font: xft:Inconsolata:pixelsize=16,xft:Droid Sans Mono:pixelsize=14,xft:DejaVu Sans Mono:pixelsize=14,xft:Droid Sans Fallback:pixelsize=14,xft:FreeSans:pixelsize=14,xft:FreeSans:pixelsize=14
URxvt.boldFont: xft:Inconsolata:pixelsize=16,xft:Droid Sans Mono:pixelsize=14,xft:DejaVu Sans Mono:pixelsize=14,xft:Droid Sans Fallback:pixelsize=14,xft:FreeSans:pixelsize=14,xft:FreeSans:pixelsize=14
URxvt.italicFont: xft:Inconsolata:pixelsize=16,xft:Droid Sans Mono:pixelsize=14,xft:DejaVu Sans Mono:pixelsize=14,xft:Droid Sans Fallback:pixelsize=14,xft:FreeSans:pixelsize=14,xft:FreeSans:pixelsize=14
URxvt.boldItalicFont: xft:Inconsolata:pixelsize=16,xft:Droid Sans Mono:pixelsize=14,xft:DejaVu Sans Mono:pixelsize=14,xft:Droid Sans Fallback:pixelsize=14,xft:FreeSans:pixelsize=14,xft:FreeSans:pixelsize=14

URxvt.internalBorder: 1
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.scrollBar: false
URxvt.saveLines: 32767
URxvt.urgentOnBell: true

! https://github.com/muennich/urxvt-perls
URxvt.perl-ext-common: default,clipboard
URxvt.perl-ext: default,url-select,keyboard-select
URxvt.keysym.M-u:   perl:url-select:select_next
URxvt.keysym.M-f:   perl:keyboard-select:activate
URxvt.keysym.M-/:   perl:keyboard-select:search
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.url-select.launcher:  /usr/bin/firefox -new-tab
URxvt.url-select.underline: true
URxvt.clipboard.copycmd:   xsel -ib
URxvt.clipboard.pastecmd:  xsel -ob

URxvt.foreground:	#ebebeb
URxvt.background:	#101012

!black
URxvt.color0:	#1F1F1F
URxvt.color8:	#4d4d4d
!redc
URxvt.color1:	#A54242
URxvt.color9:	#CC6666 
!green
URxvt.color2:	#B7CE42
URxvt.color10:	#BDE077
!yellow
URxvt.color3:	#FEA63C
URxvt.color11:	#FFE863
!blue
URxvt.color4:	#66AABB
URxvt.color12:	#AACCBB
!magenta
URxvt.color5:	#B7416E
URxvt.color13:	#BB4466
!cyan
URxvt.color6:	#5E7175
URxvt.color14:	#A3BABF
!white
URxvt.color7:	#DDEEDD
URxvt.color15:	#6C887A

URxvt.cursor : #839496


Xft.autohint: 0
Xft.lcdfilter: lcddefault
! Xft.hintstyle: hintfull
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96
